/* PADRÃO */
body { font-family: "Century Gothic", sans-serif; font-size: 1.1em;}
hr { width: 100px; border: 1px solid #000; margin-bottom: 10px; }
section { padding: 25px 15px; }
nav div ul li a { color: #fff; font-weight: 500; text-transform: uppercase; }
h3 { font-size: 1.5em; font-weight: 600; }
strong { font-weight: 600; }
a { color: #000; }

/* HERO */
#hero { background: url(../img/bg-1.jpg) center center; background-size: cover; min-height: 90vh; }

/* SERVIÇOS */
#servicos { padding: 40px 0; }
#servicos div {  padding: 10px; }
#servicos div div { background-color: #fff; }
#servicos div div:hover { background-color: #b9f6ca; }

/* CONTACTO */
#contacto { background: url(../img/newsletter.png); background-size: cover; }
#contacto form { border: 1px solid #fff; padding: 10px; }

/* REDES SOCIAIS */
#redes-sociais a { font-size: 1.1em; }

/* RODAPÉ */
footer { padding: 20px; }
/*
#as { font-size: 4em; font-family: "Times New Roman", sans-serif; }
*/

/* BREAK POINTS */
@media only screen and (max-width: 800px) {
  h2 { font-size: 2.4em; }
  #hero { min-height: 80vh; }
}

@media only screen and (max-width: 600px) {
  h2 { font-size: 2.5em; }
  #hero { min-height: 70vh; }
  h3 { font-size: 1.3em; }
}