hr { width: 90px; border: 1px solid #111; }
nav { background: rgba(0, 0, 0, 0.6); }

#capa {
    background: url(../img/bg-1.png) fixed center, url(../img/bg-2.png) fixed center, radial-gradient(#ff4169, #7c26f8);
    background-size: cover;
    min-height: 96vh;
}

#servicos { background-color: #e8f5e9; }
#servicos .card:hover { background-color: #7c26f8; }
#contactos { background: url(../img/newsletter.png); background-size: cover; }
form { border: 1px solid #fff; }
#nome, #email, #telefone, #mensagem { background: rgba(0, 0, 0, 0.1); color: rgba(255, 255, 255, 0.8); }
.card-img-top { width: 53px; margin-left: auto; margin-right: auto; }

#redes-sociais div { display: flex; flex-flow: row wrap;  justify-content: space-around; align-content: center; }