:root {
    --cor0: #c970a17e;
    --cor1: #663399;
    --cor2: #ae407d;
    --cor3: #f99003;
    --font1: 'Segoe UI', 'Calibri', serif;
    --font2: 'Montserrat';
}

* { font-family: var(--font1), sans-serif; }
body { margin-top: 66px; }
h2 { text-transform: uppercase; font-family: var(--font2); font-weight: 600; }
h3 { font-family: var(--font2); font-weight: 500; }
nav { box-shadow: 1px 1px 2px #c3c3c3; }

/* Menu */
div ul li a.active { border-bottom: 2px solid #21103a; font-weight: 500; color: #21103a; }
div ul li a:hover { border-bottom: 2px solid #21103a; transition: all 0.2s linear; }

/* Capa */
#capa {  
    color: #fff;
    background: linear-gradient(to right, var(--cor1), var(--cor2));
    background-size: auto;
    min-height: 50vh;
    display: flex;
    align-items: center;
}

#icones img {
    width: 90px;
}

#redes-sociais { width: 70%; margin: auto; }
#redes-sociais img { width: 48px; }

#icones, #redes-sociais {
    display: flex;
    justify-content: space-around;
}

/* Serviços */
#servicos div div div {
    background-color: #fff;
    box-shadow: 0px 0px 4px #c3c3c3;
    padding: 10px;
    border-radius: 5px;
}

.servico1 { background: url('../img/n1.png') top left no-repeat; }
.servico2 { background: url('../img/n2.png') top left no-repeat; }
.servico3 { background: url('../img/n3.png') top left no-repeat; }
.servico4 { background: url('../img/n4.png') top left no-repeat; }
.servico5 { background: url('../img/n5.png') top left no-repeat; }
.servico6 { background: url('../img/n6.png') top left no-repeat; }

/* Footer */
footer {
    background-color: #08040e;
    color: #fff;
}

/* Botoes */
.btn-principal {
    width: 200px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 18px;
}

.btn-principal:hover {
    background-color: #21103a;
    color: #fff;
    border-color: #21103a;
}


@media screen and (min-width: 500px) {

}

@media screen and (min-width: 900px) {
    #redes-sociais { width: 60%; }
}

@media screen and (min-width: 1100px) {
    #redes-sociais { width: 40%; }
}

@media screen and (max-width: 768px) {
    #icone-1,  #icone-2,  #icone-3,  #icone-4 { display: none; }
    #servicos div div div { margin-bottom: 10px; }
}
