#serv1 { background: url(./../../../assets/n1.png) no-repeat; }
#serv2 { background: url(./../../../assets/n2.png) no-repeat; }
#serv3 { background: url(./../../../assets/n3.png) no-repeat; }
#serv4 { background: url(./../../../assets/n4.png) no-repeat; }
#serv5 { background: url(./../../../assets/n5.png) no-repeat; }
#serv6 { background: url(./../../../assets/n6.png) no-repeat; }