<!-- NavBar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="../assets/img-rosto.png" alt="Logo" width="40">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Barra de Navegação</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                  <li class="nav-item"> <a class="nav-link" href="#"> Home</a> </li>
                  <li class="nav-item"> <a class="nav-link" href="#sobre"> Sobre mim</a> </li>
                  <li class="nav-item"> <a class="nav-link" href="#servicos"> Serviços</a> </li>
                  <li class="nav-item"> <a class="nav-link" href="#portfolio"> Portfólio</a> </li>
                  <li class="nav-item"> <a class="nav-link" href="#blog"> Blog</a> </li>
              </ul>
          </div>
      </div>
  </div>
</nav>
<div class="capa">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim repellat quos laborum corrupti vero maiores fuga ea soluta hic, et nemo necessitatibus vitae quam culpa, blanditiis voluptate praesentium? Commodi, minus.</p>
</div>
<app-capa></app-capa>
<app-sobre></app-sobre>

