<!-- NavBar -->
<nav class="navbar navbar-expand-md navbar-light">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="./../assets/img-rosto.png" alt="Logo" width="35">
          Ladislau <span>Nunes</span>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Barra de Navegação</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                  <li class="nav-item"> <a class="nav-link" href="#sobre"> Sobre</a> </li>
                  <li class="nav-item"> <a class="nav-link" href="#habilidades"> Habilidades</a> </li>
                  <li class="nav-item"> <a class="nav-link" href="#servicos"> Serviços</a> </li>
                  <li class="nav-item"> <a class="nav-link" href="#portfolio"> Projectos</a> </li>
                  <li class="nav-item"> <a class="nav-link" href="#blog"> Contactos</a> </li>
              </ul>
          </div>
      </div>
  </div>
</nav>
<app-capa></app-capa>
<main class="container">
    <app-sobre></app-sobre>
    <app-habilidades></app-habilidades>
    <app-servicos></app-servicos>
</main>
<app-rodape></app-rodape>
