<div class="container py-4">
  <img src="../../../assets/img-rosto.png" alt="Foto de Ladislau Nunes" class="mx-auto d-block">
  <h2 class="text-center">Sobre <span>mim</span></h2>
  <hr>
  <p>Sou o Ladislau Nunes, um apaixonado por programação com experiência em <strong>desenvolvimento web, web design e </strong>. Aqui, você encontrará uma amostra do meu trabalho, projectos inovadores e soluções criativas que desenvolvi ao longo da minha jornada como programador.</p>
  <p>Com uma formação sólida em Engenharia Informática, tenho me dedicado a dominar as mais recentes tecnologias e frameworks para entregar resultados excepcionais. Minha abordagem é focada em resolver problemas de forma eficiente, combinando minha experiência técnica com uma visão estratégica.</p>
</div>