/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200;400;600&display=swap');

:root {
    --cor0: #06939c;
    --cor1: #0b90c0;
    --cor2: #f99003;
    --font1: 'Geologica', sans-serif;
}

* {
    //font-family: var(--font1), sans-serif;
    font-family: 'Montserrat';
}

p { 
    text-align: justify; 
}

hr { 
    width: 80px; 
    margin: auto; 
    margin-bottom: 20px; 
    color: var(--cor2); 
    border: 1px solid var(--cor2);
    opacity: 1; 
}

span { 
    color: var(--cor2); 
    font-weight: 600; 
}

