@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200;400;600&display=swap');

:root {
    --cor0: #06939c;
    --cor1: #0b90c0;
    --cor2: #f99003;
    --font1: 'Geologica', sans-serif;
}

body {
    font-family: var(--font1);
    background-color: #fcfcfc; 
}

.nav-link { transition: .5s; }
.nav-link:hover { color: var(--cor2); }
.offcanvas-title { color: #fff; font-weight: 600; }
p { text-align: justify; font-weight: 200; }
hr { width: 80px !important; margin: auto; margin-bottom: 10px; color: var(--cor2); border-top: 2px solid var(--cor2); opacity: 1;}
span { color: var(--cor2); font-weight: 600; }